/* Add CSS Styling */
.odd_number {
    background-color: hsla(351, 100%,86%, 1.0);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second_element {
    color: rgba(0%,0%,100%,1.0);
    font-size: 36px;
}

.third_element,#fourth_element {
    font-size: 24px;
}


#fourth_element {
    background-color: hsl(120,100%,75%);
    font-weight: bold;
}
